
<img src=""
     style="display:block;margin:auto;width:10%" alt="Python Logo"/>
<br>

<div style="text-align:center; font-size:200%;">
 <b>Einführung in SQL (Teil 2)</b>
</div>
<br/>
<div style="text-align:center;">Dr. Matthias Hölzl</div>
<br/>


## Verwalten von Daten

- Mit unseren Kundendaten wollen wir verschiedene Operationen durchführen:
  - Neue Kunden hinzufügen
  - Daten abfragen (z.B. alle Kunden anzeigen)
  - Bestehende Kunden aktualisieren (z.B. E-Mail-Adresse ändern)
  - Kunden löschen
- Diese Operationen werden in SQL als Data Manipulation Language (DML)
  bezeichnet


## Einfügen von Zeilen

- Der Befehl `INSERT INTO` wird verwendet, um Daten in eine Tabelle
  einzufügen.
- Er benötigt die Namen der Spalten und die Werte, die eingefügt werden
  sollen.
  - Textwerte müssen in einfache Anführungszeichen gesetzt werden.
- Wenn Spalten nicht angegeben werden:
  - Für `AUTOINCREMENT` Spalten wird der Wert automatisch generiert
  - Andernfalls wird `NULL` eingefügt
  - Ist eine Spalte als `NOT NULL` definiert, schlägt das Einfügen fehl


```sql
INSERT INTO customers (name, address) VALUES ('John Smith', '123 Elm St');
```


```sql
-- Error: NOT NULL constraint failed: customers.address
INSERT INTO customers (name) VALUES ('Jane Doe');
-- OK
INSERT INTO customers (name, address) VALUES ('Jane Doe', '456 Oak St');
```


## Workshop: Daten einfügen

- Fügen Sie mit SQL-Befehlen die gleichen Daten wie in den vorherigen
  Workshops in die Tabellen ein.
- Achten Sie darauf, die `NOT NULL`-Bedingungen zu beachten.


Tabelle `customers`:

| id | name         | address      |
|----|--------------|--------------|
|  1 | John Smith   | 123 Elm St   |
|  2 | Jane Doe     | 456 Oak St   |
|  3 | John Smith   | 789 Maple St |

Tabelle `products`:

| id     | product_name | price | description                                |
|--------|--------------|-------|--------------------------------------------|
|   2341 | Tomatensuppe | 1.99  | Unsere fantastische Tomatensuppe in Dosen. |
| 939504 | Tomatensuppe | 2.49  | Premium-Tomatensuppe in Glasflaschen.      |
|    346 | Kichererbsen | 0.59  | In Wasser einweichen und genießen...       |

Tabelle `orders`:

| order_id | customer_id | product_id | quantity |
|----------|-------------|------------|----------|
|        1 |           1 |       2341 |        2 |
|        2 |           2 |     939504 |        1 |
|        3 |           1 |        346 |        3 |
|        4 |           1 |       2341 |        2 |