
<img src=""
     style="display:block;margin:auto;width:10%" alt="Python Logo"/>
<br>

<div style="text-align:center; font-size:200%;">
 <b>Tabellenstruktur und Indizes (ALTER/DROP/INDEX)</b>
</div>
<br/>
<div style="text-align:center;">Dr. Matthias Hölzl</div>
<br/>


## Tabellen nachträglich ändern (ALTER TABLE)

- Der Befehl `ALTER TABLE` ändert die Struktur einer bestehenden Tabelle
- SQLite unterstützt nur vier Operationen:
  - `RENAME TABLE` — Tabelle umbenennen
  - `RENAME COLUMN` — Spalte umbenennen
  - `ADD COLUMN` — Spalte hinzufügen
  - `DROP COLUMN` — Spalte entfernen
- **Nicht möglich** in SQLite: Spaltentyp ändern, Constraints nachträglich
  hinzufügen oder entfernen


## Spalte hinzufügen (ADD COLUMN)

- `ADD COLUMN` fügt eine neue Spalte zu einer bestehenden Tabelle hinzu
- Alle bestehenden Zeilen erhalten `NULL` in der neuen Spalte
- Optional kann ein Standardwert mit `DEFAULT` angegeben werden


```sql
ALTER TABLE customers ADD COLUMN email TEXT;
SELECT * FROM customers;
```


## Standardwerte und NOT NULL

- Eine neue Spalte kann einen `DEFAULT`-Wert haben
- Wenn der Standardwert angegeben wird, erhalten bestehende Zeilen diesen Wert
  statt `NULL`
- Wenn eine neue Spalte `NOT NULL` sein soll, **muss** ein `DEFAULT` angegeben
  werden
- Ohne `DEFAULT` würde SQLite einen Fehler ausgeben, da bestehende Zeilen `NULL`
  hätten


```sql
ALTER TABLE products ADD COLUMN in_stock INTEGER NOT NULL DEFAULT 1;
SELECT * FROM products;
```


## Tabellen und Spalten umbenennen

- `RENAME TO` ändert den Tabellennamen
- `RENAME COLUMN` ändert den Namen einer Spalte
- Die Daten in der Tabelle werden dabei nicht verändert


```sql
ALTER TABLE customers RENAME TO clients;
ALTER TABLE clients RENAME COLUMN name TO full_name;
SELECT * FROM clients;
```


## Spalte entfernen (DROP COLUMN)

- `DROP COLUMN` entfernt eine Spalte und alle ihre Daten
- Dieser Vorgang kann **nicht rückgängig** gemacht werden
- **Einschränkungen:** Man kann keine Spalten entfernen, die Teil eines
  Primärschlüssels, eines Index oder eines Fremdschlüssels sind


```sql
ALTER TABLE customers DROP COLUMN email;
```


## Tabellen löschen (DROP TABLE)

- `DROP TABLE` löscht eine Tabelle und **alle ihre Daten** dauerhaft
- Es gibt **kein Rückgängigmachen** — die Daten sind unwiderruflich verloren
- `IF EXISTS` verhindert einen Fehler, wenn die Tabelle nicht existiert
- **Vorsicht** bei Tabellen, auf die andere Tabellen per Fremdschlüssel
  verweisen — die verweisenden Tabellen können danach inkonsistent sein


```sql
DROP TABLE IF EXISTS test_table;
```


## Was sind Indizes?

- Ein Index ist wie das Stichwortverzeichnis in einem Buch — er hilft, Daten
  schneller zu finden
- Ohne Index muss die Datenbank jede Zeile einzeln durchsuchen (langsam bei
  großen Tabellen)
- Mit einem Index kann die Datenbank direkt zu den passenden Zeilen springen
- Primärschlüssel haben automatisch einen Index


## Index erstellen (CREATE INDEX)

- `CREATE INDEX` erstellt einen Index auf einer oder mehreren Spalten
- `IF NOT EXISTS` verhindert einen Fehler, wenn der Index schon existiert
- Konvention für den Namen: `idx_tabellenname_spaltenname`


```sql
CREATE INDEX IF NOT EXISTS idx_customer_name ON customers(name);
```


## Wann Indizes verwenden?

- Verwenden Sie Indizes auf Spalten, die Sie häufig suchen oder filtern
  (`WHERE`, `JOIN`)
- Indizes beschleunigen das **Lesen**, verlangsamen aber das **Schreiben**
  (`INSERT`, `UPDATE`, `DELETE`)
- Erstellen Sie **nicht** auf jeder Spalte einen Index — nur dort, wo es hilft
- Kleine Tabellen (wenige hundert Zeilen) brauchen normalerweise keine
  zusätzlichen Indizes


## Eindeutiger Index (UNIQUE INDEX)

- Ein `UNIQUE`-Index stellt sicher, dass keine zwei Zeilen den gleichen Wert
  in dieser Spalte haben
- Der Versuch, einen doppelten Wert einzufügen, führt zu einem Fehler
- **Ausnahme:** `NULL`-Werte gelten als unterschiedlich — mehrere `NULL`s sind
  erlaubt
- Nützlich für Spalten wie E-Mail-Adressen oder Benutzernamen


```sql
CREATE UNIQUE INDEX idx_customer_email ON customers(email);
```


## Zusammengesetzte Indizes und Indizes löschen

- Ein zusammengesetzter Index umfasst mehrere Spalten
- Nützlich, wenn häufig nach einer Kombination von Spalten gesucht wird
- `DROP INDEX` entfernt einen Index (die Daten in der Tabelle bleiben
  unverändert)


```sql
CREATE INDEX idx_orders_cust_prod ON orders(customer_id, product_id);
DROP INDEX IF EXISTS idx_orders_cust_prod;
```


## Vorhandene Indizes anzeigen

- `PRAGMA index_list(tabellenname)` zeigt alle Indizes einer Tabelle
- `PRAGMA index_info(indexname)` zeigt, welche Spalten ein Index umfasst
- In DB Browser: Indizes sind auch im Reiter "Datenbankstruktur" sichtbar


```sql
PRAGMA index_list(customers);
```


## Workshop: Tabellenstruktur ändern und Indizes verwenden

1. Fügen Sie der `customers`-Tabelle eine neue Spalte `email` (TEXT) hinzu.
   Überprüfen Sie das Ergebnis mit `SELECT`
2. Fügen Sie der `products`-Tabelle eine Spalte `in_stock` (INTEGER, NOT NULL,
   DEFAULT 1) hinzu. Überprüfen Sie, dass der Standardwert bei allen bestehenden
   Produkten gesetzt wurde
3. Benennen Sie die Spalte `address` in der `customers`-Tabelle in
   `street_address` um
4. Erstellen Sie einen UNIQUE-Index auf `customers(email)`. Setzen Sie
   verschiedene E-Mail-Adressen für einige Kunden. Versuchen Sie dann, zwei
   Kunden die gleiche E-Mail-Adresse zu geben — beobachten Sie den Fehler
5. Erstellen Sie einen zusammengesetzten Index auf
   `orders(customer_id, product_id)`. Überprüfen Sie mit
   `PRAGMA index_list(orders)`, ob der Index existiert
6. Erstellen Sie eine neue Tabelle `test_table` und löschen Sie sie dann mit
   `DROP TABLE IF EXISTS`